<div id="collectionTopRow" class="row">
  <div class="col col-xs-4">
    <h3 style="text-align: right;">
      my<br>
      <span style="font-style: italic;">soul<br>
      tempo</span>
    </h3>
  </div>
  <div class="col col-xs-4">

<% if (st === -1) { %>

    <div class="row center">
      <div id="soulTempoBox" class="soulTempoBoxEmpty">
        soul deprived...
      </div>
    </div>
  <!-- end col -->
  </div>
<!-- end top row -->
</div>

<% } else { %>

    <div id="soulTempoBox">
      <%= st %>
    </div>
  <!-- end col-->
  </div>
<!-- end top row -->
</div>

<hr>
<h4>my song collection</h4>
<div class="row labelRow">
  <div class="col-xs-1">
    tempo
  </div>
  <div class="col-xs-5">
    artist
  </div>
  <div class="col-xs-6">
    title
  </div>
</div>

<% collection.forEach(function(entry) { %>
  <div class="row song-row">
    <div class="col-xs-1 song-tempo">
      <%= Math.round(entry.dataValues.tempo) %>
    </div>
    <div class="col-xs-5">
      <%= entry.dataValues.artist %>
    </div>
    <div class="col-xs-6">
      <%= entry.dataValues.title %>
    </div>  
  </div>
<% }); %>

<!-- end if/else -->
<% } %>

<script>
  function tempoToColor(tempo, opacity) {
    return "hsl(" + ((tempo/180)*360+160) + "," + opacity + "%,50%)";
  }
  var st = <%= st %>;
  var songTempos = $(".song-tempo").map(function() {
                      return Number($.trim($(this).text()));
                    }).get();

  // change soulTempoBox color with D3
  d3.selectAll("#soulTempoBox")
    .style("background-color", tempoToColor(st, 70))
    .style("border-color", tempoToColor(st, 100));

  // change song color with D3
  d3.selectAll(".song-row")
    .data(songTempos)
    .style("background-color", function(d) {
      return tempoToColor(d, 60);
    });
</script>
