<div id="collection-top-row" class="row">
  <div class="col-xs-7">
    <h3>Song collection</h3>
  </div>
  <div class="col-xs-3">
    <div id="soul-tempo-box-label">
      Soul Tempo
      <br><span style="font-size: 10px;">(in beats per minute)</span>
    </div>
  </div>
  <div class="col-xs-2">
    <div id="soul-tempo-box"><%= st %></div>
  </div>
</div>

<div id="collection-bottom-row" class="border">
  <div class="row label-row">
    <div class="col-xs-1">tempo</div>
    <div class="col-xs-5">artist</div>
    <div class="col-xs-6">title</div>
  </div>
  
<% collection.forEach(function(entry) { %>
  <div class="row song-row">
    <div class="col-xs-1 song-tempo"><%= Math.round(entry.dataValues.tempo) %></div>
    <div class="col-xs-5"><%= entry.dataValues.artist %></div>
    <div class="col-xs-6"><%= entry.dataValues.title %></div>
  </div>
<% }); %>

</div>


<script>
  function tempoToColor(tempo, opacity) {
    return "hsl(" + ((tempo/180)*360+160) + "," + opacity + "%,50%)";
  }
  var st = <%= st %>;
  var songTempos = $(".song-tempo").map(function() {
                      return Number($.trim($(this).text()));
                    }).get();

  // change soul tempo box color with D3
  d3.selectAll("#soul-tempo-box")
    .style("background-color", tempoToColor(st, 70))
    .style("border-color", tempoToColor(st, 100));

  // change song color with D3
  d3.selectAll(".song-row")
    .data(songTempos)
    .style("background-color", function(d) {
      return tempoToColor(d, 60);
    });
</script>
