<!-- <div class="container"> -->
  <div id="summaryTopRow" class="row">

    <div class="col col-xs-4">
      <h3 style="text-align: right;">
        my<br>
        <span style="font-style: italic;">soul<br>
        tempo</span>
      </h3>
    </div>

    <div class="col col-xs-4">

      <% if (st === -1) { %>
        <div class="row center">
          <div id="soulTempoBox" class="soulTempoBoxEmpty">
            soul deprived...
          </div>
        </div>
    <!-- col -->
    </div>
  <!-- top row -->
  </div>

      <% } else { %>
        <div id="soulTempoBox">
          <%= st %>
        </div>

        <!-- change soulTempoBox color with D3 -->
        <script>
          var stColor = "hsl(" + ((<%= st %>/180)*360+160);
          d3.selectAll("#soulTempoBox")
            .style("background-color", function() {
              return stColor + ",70%,50%)";
            })
            .style("border-color", function() {
              return stColor + ",100%,50%)";
            });
        </script>
      <!-- col-->
      </div>
    <!-- top row -->
    </div>

  <hr>
  <h4>my song collection</h4>

  <div class="row labelRow">
    <div class="col-xs-1">
      tempo
    </div>
    <div class="col-xs-5">
      artist
    </div>
    <div class="col-xs-6">
      title
    </div>
  </div>

  <% collection.forEach(function(entry) { %>
    <div class="row songRow">
      <div class="col-xs-1">
        <%= Math.round(entry.dataValues.tempo); %>
      </div>
      <div class="col-xs-5">
        <%= entry.dataValues.artist %>
      </div>
      <div class="col-xs-6">
        <%= entry.dataValues.title %>
      </div>  
    </div>
  <% }); %>

<% } %>

<!-- </div> -->
